<div class="container">
	<h1>All our flats</h1>
	<div class="container px-0 d-flex justify-content-around">
		<% @flats.each do |flat| %>
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h2><%= flat.name %></h2>
					<p><%= flat.address %></p>
					<p>
						<i class="fas fa-user-friends"></i>
						<%= flat.number_of_guests %>
						<i class="fas fa-euro-sign"></i>
						<%= flat.price_per_night %>
					</p>
					<%= link_to 'More info', flat_path(flat)%>
				</div>
			</div>
		<% end %>
	</div>
</div>